<div class="a-propos">
    <div class="a-propos-text">
      <h2>QUI SOMMES-NOUS</h2>
      <img src="/assets/template 7Asset 10mdpi.png" alt="template 7Asset 10mdpi.png">
      <p>FONDÉE EN 2016, LG GROUPE EST BIEN PLUS QU'UNE SIMPLE SOCIÉTÉ DE
        SERVICES. NOTRE VOCATION PREMIÈRE EST DE SIMPLIFIER LA VIE DES
        ENTREPRISES EN LEUR OFFRANT UNE EXPERTISE COMPLÈTE. CE QUI NOUS
        DISTINGUE, CE SONT LES PROFESSIONNELS QUALIFIÉS ET EXPÉRIMENTÉS QUI
        COMPOSENT NOTRE ÉQUIPE. LEUR ENGAGEMENT ENVERS L'EXCELLENCE EST CE
        QUI NOUS PERMET DE FOURNIR UN SERVICE D'UNE QUALITÉ EXCEPTIONNELLE À
        NOS CLIENTS.</p>
   </div>
   <div class="a-propos-image">
    <img src="/assets/img site-02.png" alt="Image de la société">
  </div>
  </div>