<div class="contact-container">
    <h2>CONTACTEZ-NOUS</h2>
    <button class="contact-button" routerLink="/contact">CONTACT</button>
</div>
<div class="container">
  <div class="content-column">
    <img src="/assets/template 2Asset 3mdpi.png" alt="template 7Asset 10mdpi.png">
    <h3 class="intro-text">VOTRE PARTENAIRE DE CONFIANCE POUR LA GESTION D'ENTREPRISE</h3>
  </div>
  <div class="services-container">
    <h2>NOS SERVICES</h2>
    <p>TENUE DE COMPTABILITÉ</p>
    <p>SUPPORT ADMINISTRATIF</p>
    <p>GESTION DES RESSOURCES HUMAINES</p>
  </div>
  <img class="Image" src="/assets/template 1 Asset 54mdpi.png" alt="template 7Asset 10mdpi.png">
  <div class="contact-information">
    <h2>CONTACT</h2>

    <p> +2016 00 000 000</p>
    <p> +2016 00 000 000</p>
    <p> CONTACT@LGGROUP.TN</p>
    <p> ADRESSE</p>

      <div class="follow-us">
      <h2>FOLLOW US</h2>
      <div class="social-links">
        <a href="lien_facebook"><img src="/assets/template 1 Asset 58mdpi (1).png" alt="Facebook"></a>
        <a href="lien_instagram"><img src="/assets/template 1 Asset 60mdpi.png" alt="Instagram"></a>
        <a href="lien_twitter"><img src="/assets/template 1 Asset 8mdpi.png" alt="Twitter"></a>
      </div>
    </div>
  </div>
</div>


